[submodule "purepospy"]
	path = purepospy
	url = https://github.com/ppke-nlpg/purepospy.git
[submodule "HunTag3"]
	path = HunTag3
	url = https://github.com/ppke-nlpg/HunTag3.git
[submodule "emmorphpy"]
	path = emmorphpy
	url = https://github.com/ppke-nlpg/emmorphpy.git
[submodule "emdeppy"]
	path = emdeppy
	url = https://github.com/dlt-rilmta/emdeppy.git
[submodule "deptoolpy"]
	path = deptoolpy
	url = https://github.com/dlazesz/deptoolpy.git
[submodule "emmorph2ud"]
	path = emmorph2ud
	url = https://github.com/vadno/emmorph2ud.git
[submodule "emtokenpy"]
	path = emtokenpy
	url = https://github.com/dlt-rilmta/emtokenpy.git
