xtsv>=1.1,<2.0
# Workaround for embert requirements.txt
progressbar
pygithub
pyyaml
requests
seqeval<=0.0.5
torch==1.6  # >1.4 or it crashes, >=1.7 gives CUDA warning if GPU not present
tqdm
transformers==4.36.0  # <2.11.0 or it crashes
# dataclasses==0.7; python_version < '3.7'
# Modules with versions pinned
quntoken==3.1.8
# Some of them will be on pypi latter...
https://github.com/nytud/emmorphpy/releases/download/v1.1.0/emmorphpy-1.1.0-py3-none-any.whl
https://github.com/nytud/hunspellpy/releases/download/v1.0.0/hunspellpy-1.0.0-py3-none-any.whl
https://github.com/nytud/purepospy/releases/download/v1.0.1/purepospy-1.0.1-py3-none-any.whl
https://github.com/nytud/HunTag3/releases/download/v3.0.3/huntag-3.0.3-py3-none-any.whl
https://github.com/nytud/emIOBUtils/releases/download/v1.0.0/emiobutils-1.0.0-py3-none-any.whl
https://github.com/nytud/emdeppy/releases/download/v1.0.1/emdeppy-1.0.1-py3-none-any.whl
https://github.com/nytud/emconspy/releases/download/v1.0.1/emconspy-1.0.1-py3-none-any.whl
https://github.com/nytud/emterm/releases/download/v1.0.1/emterm-1.0.1-py3-none-any.whl
https://github.com/nytud/emudpipe/releases/download/v1.0.0/emudpipe-1.0.0-py3-none-any.whl
https://github.com/nytud/emdummy/releases/download/v1.0.1/emdummy-1.0.1-py3-none-any.whl
https://github.com/nytud/emgateconv/releases/download/v1.0.3/emgateconv-1.0.3-py3-none-any.whl
https://github.com/vadno/emmorph2ud2/releases/download/v1.0.1/emmorph2ud2-1.0.1-py3-none-any.whl
https://github.com/vadno/emmorph2ud/releases/download/v1.0.0/emmorph2ud-1.0.0-py3-none-any.whl
https://github.com/vadno/emconll/releases/download/v1.0.0/emconll-1.0.0-py3-none-any.whl
https://github.com/vadno/emzero/releases/download/v1.0.0/emzero-1.0.0-py3-none-any.whl
https://github.com/ELTE-DH/emstanza/releases/download/v1.0.3/emstanza-1.0.3-py3-none-any.whl
emphon>=1.3.1,<2.0.0
https://github.com/ril-lexknowrep/empreverb/releases/download/v2.0.0/empreverb-2.0.0-py3-none-any.whl
https://github.com/ril-lexknowrep/emcompound/releases/download/v1.0.3/emcompound-1.0.3-py3-none-any.whl
